<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.minakoto.toggle-notch</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>081D9BCF-11F6-4539-AC25-630D8AA689D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE182351-FBFB-4EAE-975B-B2295BF5ACAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5EED256F-1802-4EFE-B8C4-FF9A2CF84439</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CFD2ABD0-39F1-4D6B-87D8-E8F6703D5EA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A89BFC8-C38B-4848-BD01-4AC012858907</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFAB1AB4-92DB-4C1C-96D5-C1A4183D700B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B285ABB-4E14-43B1-B179-BDF3EBC8E350</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF4D0A26-C625-4094-82AA-2DB2C034F3EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8EAFCC53-E323-4856-BB14-45DD8CA73048</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9B93083-3BE7-4441-8894-DDA64DC37ED5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9764841-A92F-4BE2-B602-0971293FB159</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Turn on notch</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2A89BFC8-C38B-4848-BD01-4AC012858907</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Turn off notch</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F3E62577-A0D5-4393-9F90-F26755859822</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9764841-A92F-4BE2-B602-0971293FB159</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFAB1AB4-92DB-4C1C-96D5-C1A4183D700B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFD2ABD0-39F1-4D6B-87D8-E8F6703D5EA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF4D0A26-C625-4094-82AA-2DB2C034F3EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8E4A241-7DDC-45D8-ADB3-F6E60BB0C9F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB6D431F-89BE-432D-AB8A-7BF4E55E57CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2F9851C5-DCAF-4F62-84CB-E7C72DDD9A6A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3B285ABB-4E14-43B1-B179-BDF3EBC8E350</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB6D431F-89BE-432D-AB8A-7BF4E55E57CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>081D9BCF-11F6-4539-AC25-630D8AA689D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3E62577-A0D5-4393-9F90-F26755859822</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8E4A241-7DDC-45D8-ADB3-F6E60BB0C9F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE182351-FBFB-4EAE-975B-B2295BF5ACAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFAB1AB4-92DB-4C1C-96D5-C1A4183D700B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>minakoto</string>
	<key>description</key>
	<string>Turn the 'notch' on apple silicon based macbook on or off quickly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Notch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Press enter to toggle notch</string>
				<key>text</key>
				<string>Toggle Notch</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A9B93083-3BE7-4441-8894-DDA64DC37ED5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>on</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B9764841-A92F-4BE2-B602-0971293FB159</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>off</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2A89BFC8-C38B-4848-BD01-4AC012858907</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>0</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>toggleNotch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>CFAB1AB4-92DB-4C1C-96D5-C1A4183D700B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_shortcut</key>
					<string>toggleNotch</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/shortcuts/shortcut.installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>DB6D431F-89BE-432D-AB8A-7BF4E55E57CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FE182351-FBFB-4EAE-975B-B2295BF5ACAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>found_app=$(mdfind kMDItemAppStoreHasReceipt=1 | grep 'Say No to Notch' --ignore-case)

if [[ -n "$found_app" ]]; then
    found=true
else
    found=false
fi

echo $found</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3E62577-A0D5-4393-9F90-F26755859822</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>5EED256F-1802-4EFE-B8C4-FF9A2CF84439</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>081D9BCF-11F6-4539-AC25-630D8AA689D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>installed</string>
						<key>uid</key>
						<string>2F9851C5-DCAF-4F62-84CB-E7C72DDD9A6A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>not installed</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D8E4A241-7DDC-45D8-ADB3-F6E60BB0C9F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Add shortcut</string>
				<key>button2</key>
				<string>Cancel, end workflow</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>This work flow requires the shortcut 'toggleNotch' to function properly. Proceed to add 'toggleNotch' to your shortcuts libary and re-run this workflow.</string>
				<key>title</key>
				<string>Add 'toggleNotch' shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>CFD2ABD0-39F1-4D6B-87D8-E8F6703D5EA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>toggleNotch.shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>AF4D0A26-C625-4094-82AA-2DB2C034F3EF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Go to AppStore, and add shortcut</string>
				<key>button2</key>
				<string>Cancel, end workflow</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>This work flow requires the app 'Say No To Notch' and the shortcut 'toggleNotch' to function properly. Please install the app then add the shortcut and re-run this workflow</string>
				<key>title</key>
				<string>Install Say No To Notch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>3B285ABB-4E14-43B1-B179-BDF3EBC8E350</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://apps.apple.com/app/say-no-to-notch/id1639306886</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8EAFCC53-E323-4856-BB14-45DD8CA73048</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Turn the [notch](https://www.theverge.com/2021/10/18/22732912/apple-macbook-pro-notch-display) on Apple Silicon based MacBook on or off quickly. This workflow is essentially a wrapper of an apple shortcut to invoke Say No to Notch's shortcut component.

## Pre-requisites

You don't need to do anything to start using this workflow, since it will prompt you to install the following pre-requisites for your first run.

- Mac App Store App: [AppStore - Say No To Notch](https://apps.apple.com/app/say-no-to-notch/id1639306886)
- Apple Shortcut: `toggleNotch` 

## Usage

- &lt;kbd&gt;⏎&lt;/kbd&gt;: Toggle 'notch' on or off
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Turn on notch
- &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt;: Turn on notch</string>
	<key>uidata</key>
	<dict>
		<key>081D9BCF-11F6-4539-AC25-630D8AA689D0</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>2A89BFC8-C38B-4848-BD01-4AC012858907</key>
		<dict>
			<key>note</key>
			<string>Pass 'off' as argument</string>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>3B285ABB-4E14-43B1-B179-BDF3EBC8E350</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>8EAFCC53-E323-4856-BB14-45DD8CA73048</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Open 'Say No to Notch' in AppStore</string>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>A9B93083-3BE7-4441-8894-DDA64DC37ED5</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>AF4D0A26-C625-4094-82AA-2DB2C034F3EF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>B9764841-A92F-4BE2-B602-0971293FB159</key>
		<dict>
			<key>note</key>
			<string>Pass 'on' as argument</string>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>CFAB1AB4-92DB-4C1C-96D5-C1A4183D700B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>CFD2ABD0-39F1-4D6B-87D8-E8F6703D5EA1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>D8E4A241-7DDC-45D8-ADB3-F6E60BB0C9F6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>DB6D431F-89BE-432D-AB8A-7BF4E55E57CE</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F3E62577-A0D5-4393-9F90-F26755859822</key>
		<dict>
			<key>note</key>
			<string>Check if 'Say No to Notch' is installed</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>FE182351-FBFB-4EAE-975B-B2295BF5ACAB</key>
		<dict>
			<key>note</key>
			<string>Pass nothing as argument</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to activate toggle notch workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
